.privacyText h2 {
  color: #095f91;
  font-size: 1.35rem;
  margin-top: 32px;
  margin-bottom: 10px;
}

.privacyText h3 {
  color: #095f91;
  font-size: 1.15rem;
  margin-top: 24px;
  margin-bottom: 8px;
}

.privacyText p, .privacyText ul {
  margin-bottom: 18px;
}

.privacyText ul {
  padding-left: 24px;
}
